[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
matplotlib-pyplot = "*"
matplotlib = "*"

[packages]
numpy = "*"
pandas = "*"
matplotlib-pyplot = "*"
seaborn = "*"

[requires]
python_version = "3.5"
